#PN_saved
{
    margin: 0px 0px;
    padding: 0px;
    background-clip: padding-box;
    border: 0px solid ThreeDDarkShadow;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    cursor: text;
    background-color: rgba(0,0,0,0);
}

#EPF_note
{
    margin: 0px 0px;
    padding: 0px;
    background-clip: padding-box;
    border: 0px solid ThreeDDarkShadow;
    font-size: 22px;
    font-style: italic;
    color: red;
    text-align: center;
}

/* ::::: File Link ::::: */
#addy, #fname, #fldrname
{
    margin: 0px 0px;
    padding: 0px;
    background-clip: padding-box;
    border: 0px solid ThreeDDarkShadow;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    cursor: text;
}

/* ::::: Titles ::::: */
#Tree_b, #Tree_cp, #Tree_c, #Tree_de, #Tree_dc, #Tree_pc
{
    font-size: 25px;
    font-weight: bold;
}
#but_launch
{
    -moz-appearance: none;
    background-color: green;
    color:#000;
    font: bold 90% 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #111;
    position:fixed;
    top:10px;
    left:10px;
    cursor: pointer;
}

/* ::::: File Counts ::::: */
#Tree_b_v, #Tree_cp_v, #Tree_c_v, #Tree_de_v, #Tree_dc_v, #Tree_pc_v
{
    background-clip: padding-box;
    border: 0px;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

.labels {
    position:fixed;
    left:5px;
    margin:5px;
}
.a1 {
    top:115px;
}
.a2 {
    top:215px;
}
.a3 {
    top:315px;
}
.a4 {
    top:415px;
}
.a5 {
    top:515px;
}
.a6 {
    top:615px;
}

.styled-select select {
   background: transparent;
   width: 650px;
   height: 95px;
   padding: 0px;
   font-size: 12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}
   
.styled-select {
    position:fixed;
    right:5px;
    width: 650px;
    height: 95px;
    min-width:650px;
    overflow: hidden;
    background: #ddd;
    border: 1px solid #ccc;
}

/* ::::: selects ::::: */
#Builds, #Correspondence_and_Presentations, #Costs, #Design_and_Engineering, #Dimension_Checks, #Prints_and_CAD
{
    position:fixed;
    right:5px;
    min-width:650px;
}
