.typeahead,
.tt-query,
.tt-hint {
  width: 200px;
  height: 20px;
  padding: 2px 2px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

#the-basics .file-name {
  margin: 0px 5px 0px 5px;/*  top, right, bottom, left */
  border-bottom: 2px solid #000;
  cursor: not-allowed;
  border-top-left-radius:0.5em;
  border-top-right-radius:0.5em;
  padding: 5px 0px 0px 5px;
  background-color: #E4E4E4;
  font-weight: bold;
}

.empty-message {
  padding: 3px 5px;
  color: #000;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  max-height: 200px;
  overflow-y: auto;
  width: 250px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 14px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
#search-button
{
	width:28px;
    position:absolute;
    margin-left: 6px;
    height:28px;
    background: url("resource://FileSearch-at-tenneco-dot-com/data/images/search.png") 0px 0px no-repeat;
    float:right;
    border: none;
	cursor: pointer;
}
#search-button:hover {
   background: url("resource://FileSearch-at-tenneco-dot-com/data/images/search_h.png") 0px 0px no-repeat;
}
#EPF-button
{
    font-size: 10px;
    -moz-transform:rotate(90deg);
    padding: 0em 0em 1.8em 0em;
    line-height: 14px;
    background-color: #FFFFFF;
    margin: 5px 0px 0px 0px;
	width:22px;
    position:absolute;
    margin-left: 35px;
    height:14px;
    float:right;
    border: none;
	cursor: pointer;
}
#EPF-button:hover {
   border-radius: 2px;
   background-color: #0097cf;
   color: #fff;
}